{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        function addRmProduct(){
alert("Details Added to the Cart");
        }
    </script> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="welcome to the hotel website">
    <link rel="javascript" href="{% static 'js/productRecommend.js' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


    <title>Code Assassins | Recommend</title>
</head>
<body>
    <header>
        <nav id = "navbar">
            <div class="container">
            <h1 class="logo"><a href="first"> CA</a></h1>
                <ul>
                    <li><a href="first">Home</a></li>
                    <li><a class="current" href="contact">Recommend a Product</a></li>
                    <li><a href="about">About</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <section id="contact-form" class="py-3">
        <div class="container">
            <h1 class="l-heading">Get <span class="text-primary">Recommendation</span></h1>
            <p>Enter a Product Name</p>
            <form action="{% url 'contact' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Product Name</label>
                    <input type="text" name="product" id="product">
                </div>
                <!-- <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" email="email" id="email">
                </div>
                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea type="text" message="message" id="message"></textarea>
                </div> -->
                <button type="submit" class="btn">Submit</button>
            </form>
        </div>
    </section>

    <section id="contact-table" class="py-3">
        <div class="container">
            {% if product.items %}
            <h3>Recommended Products</h3>
            {% endif %}
            {% for key, value in product.items %}    
            {% if key == "prData" %}
            <table class="styled-table">
                <tr>
                    <th>select</th>
                    <th>OpportunityId</th>
                    <th>AccountName</th>
                    <th>OpptyName</th>
                    <th>ProductID</th>
                    <th>ProductName</th>
                    <th>Quantity</th>
                    <th>NetPrice</th>                    
                </tr>
                {% for key1 in value %}
                <tr>
                  <td><input type="checkbox" id="vehicle1" name="vehicle1" value="Bike"></td>
                    {% for key2,value2 in key1.items %}
                    <td>{{value2}} </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
            {% endif %}
           
            {% endfor %}   
            {% if product.items %}
            <button type="button" class="btn" onclick="addRmProduct()">Add to Cart</button> 
            <button type="button" class="btn" onclick="addRmProduct()">Show Cart</button> 
            {% endif %}
          
        </div>
    </section>

    <section id="features">
        <div class="box bg-light">
            <i class="fab fa-python fa-3x"></i>
            <h3>Recommendations</h3>
            <p>Using python we recommend products, by extracting features from related metadata fields.</p>
        </div>
        <div class="box bg-primary">
                <i class="fas fa-pager fa-3x"></i>
                <h3>API Support</h3>
                <p> This product has multiple flavours. This recommendation algorithm can be used as an API.</p>
        </div>
        <div class="box bg-light">
                <i class="fas fa-crop-alt fa-3x"></i>
                <h3>IFrame Compatible</h3>
                <p> This product has multiple flavours. This algorithm also works as a website and can be used as an Iframe.</p>
        </div>
    </section>
    
    <footer id="main-footer">
        <p>CA &copy 2021, All Rights Reserverd</p>
    </footer>
</body>
</html>
